body {
    font-family:'Courier New', monospace;
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
}
.card-area {
    margin: 20px 0;
}
.cards {
    margin-top: 10px;
    font-size: 1.2em;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#result {
    font-size: 1.5em;
    margin-top: 20px;
}
.navibar {
    font-family: 'Lexend', sans-serif;
    background-color: darkgray;
}